# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\移动app\WeChat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
